<h1>Our story</h1>
<p>Unlike other types of retailers that buy seasonally, we have new brand name, designer and other high-quality fashions arriving several times a week, with each delivery containing thousands of items. Our rapidly changing assortments create that “treasure hunt” shopping experience that our customers love.</p>
